
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'TimesNewRoman';
    src: url('../fonts/Times-BoldItalic.woff2') format('woff2'),
        url('../fonts/Times-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TimesNewRoman';
    src: url('../fonts/TimesNewRomanPS-ItalicMT.woff2') format('woff2'),
        url('../fonts/TimesNewRomanPS-ItalicMT.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TimesNewRoman';
    src: url('../fonts/TimesNRCyrMT-Bold.woff2') format('woff2'),
        url('../fonts/TimesNRCyrMT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TimesNewRoman';
    src: url('../fonts/TimesNRCyrMT.woff2') format('woff2'),
        url('../fonts/TimesNRCyrMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GilroyLight';
    src: url('../fonts/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

 

/*======================  Defoult CSS  ======================*/


html{
	font-size: 62.5%;
}
body{	
	font-size: 1.6rem; 
	font-weight: 400;
    /* font-family: 'GilroyLight'; */
	font-family: "Roboto", sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
ul li a,a{
	text-decoration: none;
}



/*======================  Home Page CSS  ======================*/



.link-help.donate_btn a {
	background: #F13D3E;
	text-align: center;
	justify-content: center;
	display: flex;
	padding: 10px 25px;
	border-radius: 25px;
	margin-left: 26px;
	color: #fff;
	transition: 0.3s;
}

.donate_fixed_btn:hover,
.link-help.donate_btn a:hover{
	opacity: 0.83;
}

body{
	position: relative;
}

.donate_fixed_btn {
	position: fixed;
	left: -47px;
	top: 50%;
	transform: rotate(-90deg);
	background: #F13D3E;
	padding: 10px 25px;
	transition: 0.3s;
	border-radius: 0 0 8px 8px;
}

.donate_fixed_btn a {  
	color: #fff;
	text-decoration: none; 
	display: flex;
	align-items: center;
	gap: 10px;
}

.donate_popup {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	display: none;
}

.donate_popup:after{
	content: '';
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	height: 100%;
	z-index: 9;
	background: rgba(0,0,0,0.6);
}

.donate_row {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	gap: 20px;
	position: relative;
	z-index: 99;
	justify-content: center;
	padding-top: 25px;
}

.donate_left {
	border-radius: 16px;
	box-shadow: 0 8px 16px rgba(57,58,63,.22),0 0 4px rgba(57,58,63,.04);
	background: #fff;
	max-width: 516px;
	overflow: hidden;
	width: 100%;
}

.donate_right {
	border-radius: 16px;
	box-shadow: 0 8px 16px rgba(57,58,63,.22),0 0 4px rgba(57,58,63,.04);
	background: #fff;
	max-width: 360px;
	padding: 16px;
	overflow: hidden;
	width: 100%;
}

.donate_times {
	position: absolute;
	top: 8px;
	z-index: 999;
	right: 18px;
	background: #ddd;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	text-decoration: none;
}

.donate_logo {
	height: 86px;
	padding: 20px 28px 16px 28px;
}

.donate_text {
	padding: 0 28px 28px 28px;
}

.donate_text h3 {
	font-size: 20px;
	line-height: 24px;
	font-weight: 600;
	margin-bottom: 5px;
}

.donate_right_box h4 {
	font-size: 20px;
	line-height: 24px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 16px;
}

.nav-tabs {
	border-bottom: none;
}

.nav-item {
	flex: 0 0 50%;
} 

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
 
	border-color: inherit !important;
}

.nav-tabs .nav-link { 
	width: 100%;
}

.nav-tabs .nav-link {
	height: 40px;
	margin-bottom: 0px;
	border: none;
	background: transparent;
}

.nav-tabs {
	border: 1px solid #eee;
 
	border-radius: 8px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	background: #ebf1fc;
	box-shadow: inset 0 0 0 2px #3371e6;
	border-color: inherit;
}

.show_give_data ul li {
	flex: 0 0 32%;
}

.show_give_data ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.show_give_data ul li a {
	padding: 5px;
	display: inline-block;
	border: 1px solid #ddd;
	margin-top: 10px;
	width: 100%;
	text-align: center;
	border-radius: 6px;
}

.show_give_data ul li a:focus{
	background: #ebf1fc;
  	box-shadow: inset 0 0 0 2px #3371e6;
}

.donate_input input {
	position: relative;
	display: flex;
	color: #3371e6;
	background: #fff; 
	border-radius: 8px;
	padding-inline-start: 16px;
	padding-inline-end: 6px;
	font-size: 24px;
	line-height: 36px;
	font-weight: 600;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #ddd;
	margin-top: 18px;
	padding-left: 30px;
} 

.donate_input {
	position: relative;
}

.donate_input select {
	position: absolute;
	top: 10px;
	right: 9px;
	background: transparent;
	border: none;
}

.donate_input p {
	position: absolute;
	z-index: 9;
	top: 8px;
	left: 14px;
} 

.donate_btn button {
	width: 100%;
	color: #fff;
	background: #3371e6;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500; 
	padding: 12px 4px;
	border: 0;
	border-radius: 8px;
	margin: 0;
	-webkit-user-select: none;
	user-select: none;
	touch-action: manipulation;
	-webkit-tap-highlight-color: rgba(0,0,0,.1);
	transition: background-color .15s ease-in-out;
}

.donate_right_box {
	height: 100%;
}

.donate_tabs {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* align-items: revert-layer; */
	height: 100%;
}

 

.tabs_flex {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%; 
}


#myTabContent {
	height: 100%;
}

#myTabContent .tab-pane{
	height: 100%;
}

.donate_tabs_content {
	height: 83%;
}



/* Header Area CSS  */

.header_area {
	background: #000;
	padding: 25px 0;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo a {
	line-height: 15px; 
	font-size: 16px;
	font-weight: 600;
	color: #fff;
}

.menu ul {
	display: flex;
	gap: 0 15px;
}

.menu ul li a {
	line-height: 42px;
	padding: 0 10px;
	font-size: 16px;
	color: #fff;
	display: inline-block;
	font-weight: 400;
	transition: 0.3s;
}

.menu ul li a.active ,
.menu ul li a:hover {
	background: #fff;
	color: #000 !important;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 20px;
}

.search_header input {
	width: 115px;
	background: transparent;
	border: none;
	color: #fff;
}